html{
  font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: lightblue;
    color: #555;


    h1,h3{
        color: #222;
        
    }

}

div{
    background-color: lightcoral;
}
